<div class="body">
	<div class="container">
		<div class="row">
			<table>
			<% @users.each do |user| %>
			<th>
			<%= user.name %>
			</th>
			<td>
				<%= link_to "詳細", user_path(user)%>
			</td>
			<% end %>
		</div>
	</div>
</div>