<div class ="body">
	<div class ="container">
		<div class="row">
		<h1>ようこそ <strong>Bookers</strong>  へ！</h1>
		<p><strong>Bookers</strong>  では、さまざまな書籍に関するあなたの意見や</p><p>印象を共有し交換することができます</p>
		<p><%= link_to 'start',books_path %></p>
		</div>
	</div>
</div>
	<div class="header">
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
<div class="main">
	<div class="sidebar"></div>
	<div class="content">
		<div>1</div>
		<div>2</div>
		<div>3</div>
		<div>4</div>
		<div>5</div>
		<div>6</div>
		<div>7</div>
		<div>8</div>
		<div>9</div>
	</div>
</div>
<div class="footer">
	<div></div>
	<div></div>
	<div></div>
</div>
